<% content_for :container1 do %>
	<div>
		<div data-state="get_nice_simple">
			<h2>Inside Container 1</h2>
		</div>
	</div>	
	
<% end %>
<% content_for :container2 do %>
	<div>
		<div data-state="get_nice_simple">
			<h2>Inside Container 2</h2>
		</div>
	</div>
<% end %>
<% content_for :container3 do %>
	<div>
		<div data-state="get_nice_simple">
			<h2>Inside Container 3</h2>
		</div>
	</div>
<% end %>
<% content_for :container4 do %>
	<div>
		<div data-state="get_nice_simple">
			<h2>Inside Container 4</h2>
		</div>	
	</div>
<% end %>