- content_for :content do
  %div
    %div{"data-state" => "get_nice_many"}
      %h1 Only Many
      = yield(:container1)
    %div{"data-state" => "get_nice_simple"}
      %h1 Only Simple
      = yield(:container1)
    .hello
      %p ein bisschen witz
    %div{"data-state" => "get_nice_simple"}
      %h1 Test 2
    %h1 Simple and Many with different content
    = yield(:container2)
    
= render :template => 'layouts/application'